<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <groups>
  <run>
<exclude name = "sanity"></exclude>  
<exclude name = "smoke"></exclude>  
  
  
  
  </run>
  </groups>
    <classes>
      <class name="org.test.Group1"/>
      <class name="org.test.Group2"/>
      <class name="org.test.Group3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
